# HTTP SERVER
HOST=localhost
PORT=5000

# POSTGRES
PGHOST=localhost
PGUSER=developer
PGDATABASE=forumapi
PGPASSWORD=supersecretpassword
PGPORT=5432

# POSTGRES TEST
# (same keys, overridden by .test.env when NODE_ENV=test)

# TOKENIZE
ACCESS_TOKEN_KEY=your_access_token_key_here
REFRESH_TOKEN_KEY=your_refresh_token_key_here
ACCCESS_TOKEN_AGE=3000
